version: "3.9"

services:

  db : 
    image: postgres:latest
    container_name: kata-postgres
    restart: always 
    environment: 
      POSTGRES_DB: ${POSTGRES_DB}
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
    ports: 
      - "5432:5432"
  
  api:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: kata-backend
    depends_on: 
      - db
    ports:
      - "8000:8000"
    environment:
      APP_ENV: development
    restart: unless-stopped
    env_file: 
      - .env
    command: ["uvicorn", "app.main:app", "--host", "0.0.0.0", "--port", "8000"]